body {
    /* background-color: darkred; */
}

.grid-overlay {
    z-index: -1;
    position: fixed;
    top: 0;
    width: 100%;
  }
.grid-overlay .container{
  position: relative;
}

  .grid-overlay .container::after, .grid-overlay .container::before {
    border-left: 1px solid rgba(0, 0, 0, .1);
    position: absolute;
    content: '';
    height: 100vh;
    top: 0;
  }

  .grid-overlay .container::after {
    left: -30px;
  }
  
  .grid-overlay .container::before {
    right: -30px;
  }

  .grid-overlay div[class^="col-"] {
    border-left: 1px dotted rgba(0, 0, 0, 0.1);
    border-right: 1px dotted rgba(0, 0, 0, 0.1);
  }
  
  .grid-overlay div[class^="col-"] h1 {
    background-color: rgba(255, 0, 0, 0.1);
    height: 100vh;
    margin-top: 0;
    margin-bottom: 0;
  }

  .block-color {
    background-color: aliceblue;
    border: 1px dotted;
  }