body {
    /* background-color: darkred; */
}

.grid-overlay {
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .grid-overlay div[class^="col-"] {
    border-left: 2px dotted rgba(0, 0, 0, 0.1);
    border-right: 2px dotted rgba(0, 0, 0, 0.1);
  }
  
  .grid-overlay div[class^="col-"] h1 {
    background-color: rgba(255, 0, 0, 0.1);
    height: 100vh;
    margin-top: 0;
    margin-bottom: 0;
  }